
.container{
    margin-bottom: 100px;
}
.navbar{
    margin-left: 280px;
    margin-right: 280px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
        background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #FF136F;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    border-radius: 15px;
    padding: 15px;
}
.categories h1{
    color: white;
}
.categories img{
}
.card{
    border: none;
    box-shadow: 10px 20px 40px rgb(240, 174, 174);
    border-radius: 15px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: #FF589B;
}
footer{
    text-align: center;
}